.chatInputBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  padding-bottom: 16px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}
