.container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
<<<<<<< Updated upstream

=======
  z-index: 2;
>>>>>>> Stashed changes
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;

    .logo {
      height: 32px;

      img {
        height: 100%;
      }
    }
  }
}
