.mainContainer {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/assets/blackbackground.png");
  background-repeat: no-repeat;
  background-size: cover;

  .cellphoneModal {
    width: 100%;
    height: 85vh;
    position: fixed;
    bottom: 0;
    background-image: url("../../../public/assets/cellphoneModal.png");
    background-repeat: no-repeat;
    background-size: cover;

    .modalContainer {
      display: flex;
      // justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
