$modal: #eef0f5;
$box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.25),
  2px 2px 10px rgba(0, 0, 0, 0.5);

.modal {
  width: 336px;
  height: 600px;
  background: $modal;
  box-shadow: $box-shadow;
  border-radius: 10px;
  position: absolute;
  display: flex;
  z-index: 99999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.disappear {
  animation: translate 0.8s;
  -moz-animation: translate 0.8s; /* Firefox */
  -webkit-animation: translate 0.8s; /* Safari and Chrome */
  -o-animation: translate 0.8s; /* Opera */
  animation-fill-mode: forwards;
  @keyframes translate {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  @-moz-keyframes translate {
    /* Firefox */
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  @-webkit-keyframes translate {
    /* Safari and Chrome */
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  @-o-keyframes translate {
    /* Opera */
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
}
