$modal: #eef0f5;
$box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.25),
  2px 2px 10px rgba(0, 0, 0, 0.5);

.modal {
  width: 304px;
  height: 500px;
  background: $modal;
  box-shadow: $box-shadow;
  border-radius: 10px;
  position: absolute;
  display: flex;
  z-index: 4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disappear {
  animation: fadeout 1s;
  -moz-animation: fadeout 1s; /* Firefox */
  -webkit-animation: fadeout 1s; /* Safari and Chrome */
  -o-animation: fadeout 1s; /* Opera */
  animation-fill-mode: forwards;
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-moz-keyframes fadeout {
    /* Firefox */
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes fadeout {
    /* Safari and Chrome */
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-o-keyframes fadeout {
    /* Opera */
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
