$w: 100px;

.profileBox {
  width: calc(100% - 100px);
  height: $w;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;

  .profile {
    width: 100%;
    font-weight: 700;
    margin: 4px 0;
  }

  .introduce {
    width: 100%;
  }
}
