$size: 27%;

.item {
  width: $size;
  aspect-ratio: 1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 8px;
  overflow: hidden;
  position: relative;
  overflow: hidden;

  .profileImage {
    width: 100%;
  }

  .leaderBadge {
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 32px;
    object-fit: cover;
  }
}
