.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.introduceText {
  margin-top: 0.8rem;
  width: calc(100% - 32px);
  overflow-wrap: break-word;
  margin-bottom: 5.6px;
  text-align: center;
}

.btn {
  text-align: right;
}
