.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .exitBtn {
    margin-bottom: 16px;
  }
}
.teamList {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
