.yearTag {
  margin: 0px 8px 0px 8px;
}
.monthTag {
  margin: 0px 8px 0px 8px;
}
.dayTag {
  margin: 0px 8px 0px 8px;
}
.selectBox {
  height: 20px;
  border-radius: 10px;
  border: none;
  margin-right: 4px;
  margin-bottom: 5px;
  text-align-last: center;
}
