.heart {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100vh;
  .match {
    position: fixed;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 700;
  }
  .cancelBtn {
    position: fixed;
    bottom: 30%;
  }
}

$background: rgba(0, 0, 0, 0.4);

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;

  .background {
    width: 100%;
    height: 100%;
    background: $background;
    z-index: 4;
    // backdrop-filter: blur(2px);
  }
  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .desc3 {
      margin-bottom: 32px;
    }
    .bold {
      font-weight: 700;
    }
  }
}
