.backColor {
  background-color: #eef0f5;
  width: 100vw;
  // height: 100vh;
  .otherContainer {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
