.applyTeamBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 10px;
  background-color: #f8cdda;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .team {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;

    .teamMember {
      width: 30%;
      aspect-ratio: 1;
      margin: 0 4px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }

  .acceptBtnList {
    width: 25%;
    aspect-ratio: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    button {
      margin: 4px 0;
    }

    img {
      height: 1.6rem;
    }
  }
}
