.container {
  .teamcode {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .code {
      margin: 0 4px;
      position: relative;
      top: -1px;
    }
  }
}
