.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1rem;
  border-radius: 40px;
  border: none;
  padding: 8px;
  font-weight: 700;
  font-family: "GmarketSansTTFLight";
  // font-size: 1.05rem;
  color: #000;
  cursor: pointer;
  background-color: rgb(239, 240, 245);
  box-shadow: -3px -3px 8px rgba(255, 255, 255, 0.5),
    4px 4px 16px rgba(77, 63, 83, 0.7);

  &:hover {
  }
}

.dupleCheck {
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}
