.listBox {
  width: calc(100% - 24px);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  padding: 12px 0;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 450px;

  .titleBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    background-color: #eef0f5;
    padding: 0 8px;
    height: 1rem;

    img {
      height: 1.2rem;
    }

    span {
      margin: 0 8px;
      position: relative;
      top: 1px;
      font-weight: 600;
    }
  }
}
