.button {
  width: 65%;
  min-height: 1rem;
  // height: 3rem;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  box-shadow: -2px -2px 5px #fff, /* 왼쪽 위 흰색 그림자 */ 4px 4px 5px #a0a0a0; /* 오른쪽 아래 회색 그림자 */
  // margin-bottom: 20px;
}
