.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1rem;
  border-radius: 10px;
  border: none;
  padding: 8px;
  font-weight: 700;
  font-family: "GmarketSansTTFLight";
  color: #000;
  cursor: pointer;
  background-color: rgb(239, 240, 245);
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5),
    2.5px 2.5px 5px rgba(77, 63, 83, 0.5);

  &:hover {
  }
}

.dupleCheck {
  margin: 10px;
  font-size: 12px;
  font-weight: bold;
  color: black;
}
