.imgBackGround2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  border-radius: 20px;
  padding: 8px;

  .myImg {
    z-index: 1000;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}
