.imgBackGround2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: 92%;
  background-color: white;
  z-index: 100;
  border-radius: 20px;
  .myImg {
    z-index: 1000;
    width: 92%;
    height: 92%;
    border-radius: 20px;
  }
}
