@font-face {
  font-family: "GmarketSansTTFLight";
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/GmarketSansTTFLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/GmarketSansTTFLight.woff")
    format("woff");
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansTTFMedium";
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/GmarketSansTTFMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/wizfile/font/GmarketSansTTFMedium.woff")
    format("woff");
  font-style: normal;
}

body {
  margin: 0;
  font-family: "GmarketSansTTFLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.diagonal-gradient {
  background: linear-gradient(
    to bottom left,
    rgb(243, 165, 189),
    rgb(185, 198, 240)
  );
}
