.container {
  position: absolute;
  width: 100%;
  height: 50%;
  .profileContainer {
    width: 200px;
    height: 200px;
    border-radius: 100;
    z-index: 3;
  }
  .profileDesc {
    position: relative;
    z-index: 2;
  }
}
