:is(.box0, .box1, .box2, .box3 .box4) {
  font-size: 2rem;
  margin: 1rem;
  animation: bubble 2s ease;
  -moz-animation: bubble 2s ease; /* Firefox */
  -webkit-animation: bubble 2s ease; /* Safari and Chrome */
  -o-animation: bubble 2s ease; /* Opera */
  animation-fill-mode: forwards;
  .box0 {
    animation-delay: 0.5s;
  }

  .box1 {
    animation-delay: 1s;
  }

  .box2 {
    animation-delay: 1.5s;
  }

  .box3 {
    animation-delay: 2s;
  }

  .box4 {
    animation-delay: 2.5s;
  }
}

@keyframes bubble {
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}

@-moz-keyframes bubble {
  /* Firefox */
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes bubble {
  /* Safari and Chrome */
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}
@-o-keyframes bubble {
  /* Opera */
  from {
    transform: translateY(1000%);
  }
  to {
    transform: translateY(0);
  }
}
